<html>
<head>
<title>Zarejestruj się</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Panel konta</h1>

<table border="1">
  <tr>
    <th>zmień imię/nazwisko</th>
    <td></td>
  </tr>
  <tr>
    <th>zmień e-mail kontaktowy</th>
    <td></td>
  </tr>
  <tr>
    <th>zmień hasło</th>
    <td></td>
  </tr>
  <tr>
    <th>subskrybuj</th>
    <td>
      <ul>
        <li>HS:Wro public</li>
        <li>HS:Wro pierdoły</li>
        <li>HS:Wro members (members only)</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th></th>
    <td></td>
  </tr>
</table>

</body>
</html>
