<html>
<head>
<title>Zarejestruj się</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Panel konta</h1>

<p>
<a href="{{ url_for('logout') }}">Wyloguj</a>
</p>

<table border="1">
  <tr>
    <th><i>DN</i></th>
    <td><tt>{{ account.dn }}</tt></td>
  </tr>
  <tr>
    <th><label for="full_name">imię/nazwisko</label></th>
    <td>
      <form method="post" action="{{ url_for('account_update') }}">
        <input type="text" size="20" name="full_name" id="full_name" value="{{ account.full_name }}" />
        <input type="submit" name="save" value="zmień" />
      </form>
    </td>
  </tr>
  <tr>
    <th><label for="email">e-mail kontaktowy</label></th>
    <td>
      <form method="post" action="{{ url_for('account_update') }}">
        <input type="text" size="20" name="email" id="email" value="{{ account.email }}" />
        <input type="submit" name="save" value="zmień" />
      </form>
    </td>
  </tr>
  <tr>
    <th><label for="password">hasło</label></th>
    <td>
      <form method="post" action="{{ url_for('account_update') }}">
        <!-- TODO: replace this table with some div -->
        <table>
          <tr>
            <td>
              <input style="display: block" type="password" size="20" name="password" id="password" />
              <input style="display: block" type="password" size="20" name="password_repeated" />
            </td>
            <td>
              <input type="submit" name="save" value="zmień" />
            </td>
          </tr>
        </table>
      </form>
    </td>
  </tr>
  <tr>
    <th>subskrybuj</th>
    <td>
      <ul>
        <li>HS:Wro public</li>
        <li>HS:Wro pierdoły</li>
        <li>HS:Wro members (members only)</li>
      </ul>
    </td>
  </tr>
</table>

</body>
</html>
