<html>
<head>
<title>Zarejestruj się</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Resetuj hasło</h1>

{% if message %}
<p class="error">
{{ message }}
</p>
{% endif %}

<form method="post" action="{{ url_for('reset_password', token = token) }}">
  <table>
    <tr>
      <th>nick</th>
      <td>{{ nick }}</td>
    </tr>
    <tr>
      <th rowspan="2" style="vertical-align: top">
        <label for="password">hasło</label>
      </th>
      <td><input type="password" size="20" name="password" id="password" /></td>
    </tr>
    <tr>
      <td><input type="password" size="20" name="password_repeated" /></td>
    </tr>
    <tr>
      <th></th>
      <td style="text-align: center">
        <input type="submit" name="submit" value="Ustaw nowe hasło" />
      </td>
    </tr>
  </table>
</form>

</body>
</html>
